html {
    font-size: 14px;
}



body {
     font-family: "Montserrat", sans-serif;
     font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 700;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
}

.header_logo {
    font-weight: 700;
    font-size: 2rem;
    font-size: 2.28;
}



.header_nav {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    font-size: 1rem;
    font-weight: 700;
}

.header_link {
    color: #737373;
}

.header_link:hover {
    color: blue;
}

.header_login {
    color: #96bb707C;
    margin-right: 45px;
}

.header__logo-link {
    color: #252B42;
}

.header__logo-link:hover {
    color: brown;
}


.header_login:hover {
    color: black;
}

.btn {
    color: #fff;
    background-color: #96bb707C;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 5px;
}

.btn:hover {
    color: black;
}

.header_inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 2rem;
}

