@media only screen and (max-width: 1200px) {
    body {
        background-color: #737373;
    }
    
    .header {
        background-color: #737373;
        width: 800px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        background-color: #737373;
    }
    
    .header {
        background-color: #737373;
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #737373;
    }
    
    .header {
        background-color: #737373;

    }
}