:root {
    --bg: #E5E5E5;
    --yellow: #FDC435;
    --title: #333333;
    --dark_blue: #25282B;
    --text: #828282;
    --white: #fff;
}

.ibm-plex-sans-thin {
    font-family: "IBM Plex Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .ibm-plex-sans-extralight {
    font-family: "IBM Plex Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .ibm-plex-sans-light {
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-sans-medium {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex-sans-semibold {
    font-family: "IBM Plex Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-sans-bold {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ibm-plex-sans-thin-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .ibm-plex-sans-extralight-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .ibm-plex-sans-light-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ibm-plex-sans-regular-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ibm-plex-sans-medium-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ibm-plex-sans-semibold-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .ibm-plex-sans-bold-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  

html {
    font-size: 16px;
}

body {
    background-color: var(--bg);
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}

/* Header top */

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header_top-title {
    margin-top: 0.75rem;
    font-size: 1.125rem;
    color: var(--dark_blue);
    font-family: "IBM Plex Sans", sans-serif;
}

.header_top-right {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.header_top-link {
    text-decoration: none;
    font-size: 1rem;
    color: var(--dark_blue);
    font-family: "IBM Plex Sans", sans-serif;
}

.header_top-link:hover {
    text-decoration: underline;
    color: var(--dark_blue);
}

/* Header inner */

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_inner-left {
    width: 30.375rem;
    height: 25.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

.header_inner-suptitle {
    color: var(--yellow);
    font-size: 1.25rem;
    font-family: "IBM Plex Sans", sans-serif;
}

.header_inner-title {
    color: var(--title);
    font-size: 4rem;
    font-family: "IBM Plex Sans", sans-serif;
}

.header_inner-text {
    color: var(--text);
    font-size: 1.5rem;
    font-family: "IBM Plex Sans", sans-serif;
}

.header_inner-links {
    display: flex;
    gap: 0.75rem;
}

.header_inner-projects {
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--yellow);
    color: var(--dark_blue);
    font-size: 1.125rem;
}

.header_inner-projects:hover {
    background-color: var(--dark_blue);
    color: var(--yellow);
}

.header_inner-linkedin {
    border: 0.0625rem solid var(--dark_blue);
    border-radius: 0.5rem;
    color: var(--dark_blue);
    padding: 0.5rem 1.5rem;
    background-color: var(--white);
    font-size: 1.125rem;
}

.header_inner-linkedin:hover {
    color: var(--white);
    background-color: var(--dark_blue);
}

.header_inner-img {
    background: url('../images/yellow-bg.png')
    no-repeat top;
    background-size: cover;
    width: 45rem;
    position: relative;
    z-index: -1;
    margin-top: -2.6rem;
    margin-right: -7.9rem;
}


/* Projects */

.projects {
    margin-top: 10rem;
}

.projects_container {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

.projects_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;    
}

.projects_title {
    font-size: 3rem;
    color: var(--dark_blue);
    font-family: "IBM Plex Sans", sans-serif;
}

.projects_yellow-line {
    width: 6.25rem;
    height: 0.25rem;
    background-color: var(--yellow);
}

.projects_inner {
    border-radius: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_inner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 31rem;
    height: 32.75rem;
    gap: 1.5rem;
    border-radius: 1.5rem 0 0 1.5rem;

}

.projects_second-inner_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 31rem;
    height: 32.75rem;
    gap: 1.5rem;
    border-radius: 0 1.5rem 1.5rem 0;
}

.projects_inner-title {
    font-size: 2.5rem;
    color: var(--dark_blue);
    font-family: "IBM Plex Sans", sans-serif;
    margin-right: 10.5rem;
}

.projects_inner-text {
    width: 25.3rem;
    color: var(--text);
    font-size: 1.125rem;
    font-family: "IBM Plex Sans", sans-serif;
}

.projects_view {
    color: var(--dark_blue);
    border: 0.0625rem solid var(--dark_blue);
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.125rem;
    background-color: var(--white);
    margin-right: 16.1rem;
}

.projects_view:hover {
    color: var(--white);
    background-color: var(--dark_blue);
}

.projects_img {
    border-radius: 0 1.5rem 1.5rem 0;
}

.projects_second-img {
   border-radius: 1.5rem 0 0 1.5rem;
}


/* Forms */

.form_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_inner-top {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_inner-container {
    margin-bottom: 1.5rem;
}

 .form_inner-title {
    font-size: 1rem;
    color: var(--dark_blue);
}

.form_input {
    border-radius: 0.5rem;
    width: 25rem;
    height: 2.5rem;
}

.form_input-message {
    width: 25rem;
    height: 10rem;
    border-radius: 0.5rem;
}

.send {
    width: 25rem;
    height: 2.9375rem;
    display: flex;
    justify-content: end;

}

.send_button {
    font-size: 1.125rem;
    color: var(--dark_blue);
    background-color: var(--yellow);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    border: none;
}

.send_button:hover {
    color: var(--yellow);
    background-color: var(--dark_blue);
}

.apps {
    display: flex;
    gap: 1.5rem;
    margin-top: 3.5rem;
}

.comment {
    color: var(--text);
    font-size: 1rem;
    margin-top: 2rem;
}

.yellow_end-bg {
    position: relative;
    z-index: -1;
    width: 88.958125rem;
}