p {
    color: #fff;
    font-size: 20px;
    font-family: cursive;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 50px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 50px;
    padding-top: 15px;
}

.left__right {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.settings__img {
    width: 30px;
}

.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
  }
  
.tabs * {
    z-index: 2;
}
  
.radio__container input[type="radio"] {
    display: none;
}
  
.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}
  
.radio__container input[type="radio"]:checked + label {
    color: #185ee0;
}
  
.radio__container input[type="radio"]:checked + label > .notification {
    background-color: #185ee0;
    color: #fff;
    margin: 0px;
}
  
.radio__container input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
}
  
.radio__container input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
}
  
.radio__container input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
}
  
.glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 50px;
    background-color: #e6eef9;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}
  
@media (max-width: 700px) {
   
    .tabs {
      transform: scale(0.6);
    }
}
  

.searchBox {
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}
  

.header {
    height: 100vh;
    width: 100vw;
    background-color: #a1a1a1;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.header__down {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto 0;
    padding-top: 200px;
}

.header__down-right__img {
    width: 700px;
    border-radius: 20px;
}

.input {
    border: 2px solid #e8e8e8;
    padding: 15px;
    border-radius: 10px;
    background-color: #212121;
    font-size: small;
    font-weight: bold;
    text-align: center;
}
   
.input:focus {
    outline-color: white;
    background-color: #212121;
    color: #e8e8e8;
    box-shadow: 5px 5px #888888;
}
  
.iphone {
    font-size: 30px;
    color: #252B42;
    font-family: fantasy;
}

.macbook {
    background-color: #a1a1a1;
    height: 110vh;
    width: 100vw;
}

.macbook__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.macbook__right-img {
    width: 600px;
    border-radius: 30px;
}

.macbook__left {
    padding: 50px 0 0;
    text-align: center;
}

.mac {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}
   
.mac:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
   
.mac:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.mac__button {
    padding-top: 20px;
    text-align: center;
}

.settings {
    font-size: 30px;
    color: #212121;
}

.macbook__title {
    color: #fff;
    font-family: cursive;
    text-align: center;
}

.macbook__text {
    color: #fff;
    font-size: 15px;
    font-family: cursive;
}

.airpods {
    height: 120vh;
    width: 100vw;
    background-color: #a1a1a1;
    padding: 50px 0 0;
}

.airpods__top {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.airpods__l,
.airpods__r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.airpods__inner {
    display: flex;
    justify-content: space-evenly;
}

.airpods__img {
    width: 700px;
    border-radius: 30px;
}

.airpods__left {
    padding: 30px 0 0;
    text-align: center;
}

.air__settings {
    font-family: cursive;
    color: #fff;
}

.airpods__text {
    color: #000;
}

.airpods__textz {
    width: 600px;
    color: #000;
}

.airpods__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
      /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }