:root {
    --bg: #fff;
    --primary: #363636;
    --accent: #00A0B1;
}


@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.woff2') format('woff2'),
        url('fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('fonts/NexaBold.woff2') format('woff2'),
        url('fonts/NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html{
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--bg);    
}

a:hover {
    color: var(--accent);
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}

.header {
    height: 100vh;
    width: 100vw;
    background: var(--primary) url('../images/bg.jpg')
    no-repeat top center / cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
}

.header__top a {
    font-family: 'Nexa', serif;
}

.header__logo {
    font-size: 1.75rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    width: 2rem;
}

.header__nav-link {
    margin-left: 2.375rem;
}

.header__nav-link:hover {
    text-decoration: underline;
}